{% extends 'layout.html' %}
{% block content %}
  <script>
  function submitAction(url, FormName) {
    document.forms[FormName].action = url;
    document.forms[FormName].submit();
  }
  </script>
  <form method="POST" name='email'>
    現在のアドレス：{{user.email}}<br>
    <p>
      <input type="text" name="email" size="20" maxlength="20">
      <button type="submit" onclick="submitAction('/profile/{{user.id}}', 'email')">変更</button>
    </p>
  </form>
  <form method="POST" name='password'>
    <p>
      現在のパスワード
      <input type="text" name="current_password" size="20" maxlength="20"><br>
      新しいパスワード
      <input type="text" name="new_password" size="20" maxlength="20">
      <button type="submit" onclick="submitAction('/profile/{{user.id}}', 'password')">変更</button>
    </p>
  </form>
{% endblock %}
