{% extends 'layout.html' %}
{% block content %}
  <script>
  function submitAction(url, FormName) {
    document.forms[FormName].action = url;
    document.forms[FormName].submit();
  }
  </script>
  <form method="POST" name='user_form'>
    <p>
      <button type="submit" onclick="submitAction('/user/1', 'user_form')">ユーザ1</button>
      <button type="submit" onclick="submitAction('/user/2', 'user_form')">ユーザ2</button>
    </p>
  </form>
  <h1>{{user.name}}</h1>
    <table class="table">
      <thead>
        <tr>
          <th>プロジェクト名</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <form method='POST' name='project_list'>
          {% for project in data['projects'] %}
            <tr>
              <td>
                {% if project['readable_flows'] %}
                  <a href="/flows?project={{project.uuid}}">{{project.name}}</a>
                {% else %}
                  {{project.name}}
                {% endif %}
              </td>
              <td>
                <button type="submit" onclick="submitAction('/projects/{{project['uuid']}}', 'project_list')" {% if not project['deletable_project'] %}disabled{% endif %}>削除</button>
              </td>
            </tr>
          {% endfor %}
        </form>
      </tbody>
      </table>
    <form action='/projects' method='POST'>
      <input type="text" name="project_name" size="20" maxlength="10">
      <button type="submit" {% if not data['creatable'] %}disabled{% endif %}>登録</button>
    </form>
{% endblock %}
